.item-price {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  font-family: "Courier New", Courier, monospace;
  color: gray;
}

.price-image {
  color: cornflowerblue;
}

a {
  text-decoration: none;
}

.card-image {
  width: 100%;
}

.item-description {
  color: gray;
  margin-bottom: 20px;
  margin-left: 20px;
  font-family: "Courier New", Courier, monospace;
}
